@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss'

$blue: #0073A2
$white: #ffffff
$font-color: lighten(#000000, 40%)

=error-symbol()
  content: '!'
  $size: 1.6em
  display: inline-block
  border: 1px $brand-danger solid
  height: $size
  width: $size
  border-radius: $size * 2
  position: absolute
  right: -2em
  top: 2.5em
  text-align: center
  color: $brand-danger
  background: lighten($brand-danger, 30%)

html
  font-size: 10px
body
  $font-size: 1.6em
  font-size: $font-size
  font-family: "Open Sans", sans-serif
  color: $font-color
  &>.container>.row
    margin-bottom: 1.6em
  @media (max-width: $screen-lg)
    font-size: $font-size * $screen-md / $screen-lg
  @media (max-width: $screen-md)
    font-size: $font-size * $screen-sm / $screen-lg
  @media (max-width: $screen-sm)
    font-size: 4vw



.browserupgrade
  padding: 2rem
  text-align: center

.header
  img
    width: 100%
  .logo
    width: 19em
    position: absolute
    top: 30%
    left: 8%
    img
      width: 100%

.header-mobile
  background: url(/images/feather-blue.svg) 163% 63% no-repeat, $blue
  background-size: 18em auto, auto
  position: relative
  margin-bottom: .3em
  .logo
    width: 11em
    position: relative
    left: 1em

.blueprints-panel
  background: url(/images/blueprints.png) 95% no-repeat, $blue
  background-size: auto 100%
  color: $white
  position: relative
  padding: 2.1em
  @media (max-width: $screen-sm)
    background: none
    padding: 0
    color: $blue
  h1
    max-width: 70%
    margin: 0
    font-size: 1.9em
    font-weight: 300
    @media (max-width: $screen-sm)
      max-width: none
      font-size: 1.6em

.figure
  img
    width: 100%

.features
  padding: 0
  @media (max-width: $screen-sm)
    margin-top: -2em
  li
    list-style-type: none
  h2
    font-weight: 300
    font-size: 1.6em
    color: $blue

.catch-form
  background: url(/images/feather.svg) 105% -2em no-repeat, darken($white, 10%)
  background-size: 25% auto, auto
  border-radius: 1em
  padding: 2em 6em
  margin-top: 1em
  @media (max-width: $screen-sm)
    padding: 1em

  .footnote
    text-align: right
    margin-top: 1em
    @media (max-width: $screen-sm)
      text-align: inherit
      margin: 0 0 2em
  .text
    color: darken($font-color, 10%)
    margin-bottom: 2em
    h2
      @media (max-width: $screen-sm)
        font-size: 1.6em
      margin: 0 0 .4em
      color: $blue
  label
    font-weight: normal
  .form-group
    position: relative
    margin-top: 1em
    &~.form-group
      margin-bottom: 0
    &.error
      .form-control
        border-color: $brand-danger
      &:after
        +error-symbol()
        @media (max-width: $screen-sm)
          display: none

  .form-control
    font-size: 1em
    line-height: 1em
    padding-top: 1em
    padding-bottom: 1em
    height: 3em
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2)
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2)
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2)
    &:focus
      outline: 0
      border-color: $blue

  textarea.form-control
    height: auto

.btn-default, .btn-default:focus
  border-color: darken($blue, 10%)
  border-radius: 3px
  background-color: $blue
  color: $white
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.43)
  padding: .5em 1.8em
  font-size: 1em
  margin-top: .4em
  &:hover, &:active
    background-color: lighten($blue, 5%)
    border-color: darken($blue, 10%)
    color: $white

.footer
  color: #000
  text-align: center
  margin-top: 2em
  @media (max-width: $screen-sm)
    text-align: left
    margin-top: 0